body {
  font-family: 'Poppins', sans-serif;
}

/* Título script decorativo */
.title-script {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  margin: 0 5px;
  display: inline-block;
  color: #000000;
}

/* Sección general */
.eventos-section {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  padding: 2rem;
  background-color: #fff;
}

/* Contenido de texto */
.text-content {
  background: pink; /* TEMPORAL */
  max-width: 750px;
  margin: 0 auto;
  text-align: justify;
  padding: 2rem;
}


/* Encabezados */
.title-bold {
  color: #000000;
  padding-right: 2px;
  font-weight: 700;
  font-size: 1.8rem;
  display: inline-block;
}

.title-light {
  padding-left: 2px;
  font-weight: 300;
  font-size: 1.8rem;
  color: #000000;
  display: inline-block;
}

/* Línea decorativa debajo del título */
.underline {
  width: 90px;
  height: 3px;
  background-color: #014421;
  margin: 0.5rem auto 1.5rem auto;
}

/* Párrafos */
.text-content p {
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-weight: 400;
}
